.CardCategories {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-top: 30px;
}

.CardCategories:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 950px) {
  .CardCategories {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-top: 20px;
  }

  .CardCategories:nth-child(4n),
  .CardCategories:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 447px) {
  .CardCategories {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }
}
