@media (max-width: 840px) {
  .custom-relative {
    display: flex;
    flex-direction: column; /* меняем направление расположения элементов на вертикальное */
    align-items: center; /* выравниваем элементы по центру */
  }

  .custom-absolute {
    position: static; /* убираем абсолютное позиционирование */
    width: 100%; /* делаем ширину блока на всю доступную ширину */
    margin-top: 10px; /* добавляем отступ между input и button */
  }
}