// Header.scss
.nav_link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav_link.active {
  color: #a259ff;
}

.nav_link:hover {
  color: #a259ff;
}

.burger-btn {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  transition: all 0.3s ease;
}

.line {
  display: block;
  width: 35px;
  height: 2.4px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.burger-btn.open .line1 {
  transform: rotate(45deg) translate(8px, 5px);
}

.burger-btn.open .line2 {
  opacity: 0;

}

.burger-btn.open .line3 {
  transform: rotate(-45deg) translate(8px, -6px);
}
